<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>{{ site.title | escape_once }}</title>
        <meta
            name="description"
            content="{{ site.title }}. Cloud-Architektur, Prototyping, Individualsoftware, IT-Organisation für Enterprise-Kunden."
        />
        <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    </head>
    <body>
        <header>
            <a href="{{ "/" | relative_url }}" class="brand-wrapper">
                <div class="logo" aria-hidden="true"></div>
                <div>
                    <h1>Martin Rehfeld</h1>
                    <p>{{ site.subtitle | escape_once }}</p>
                </div>
            </a>
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            &copy; 2025 {{ site.title | escape_once }}
            //
            <div class="imprint">
                <a href="impressum.html">Impressum</a>
            </div>
        </footer>
    </body>
</html>
